<dialog id="EditOrAddTaskDialog">
  <div>
    <button class="dialogCloseBtn" (click)="CloseDialogModel()">X</button>
  </div>
  <div class="taskDiv" *ngIf="editTask == true">
  <h2>Edit Task</h2>
  <form >
    <input type="text" name="TaskName" [(ngModel)]="taskToEdit.name">
    <button class="editBtn" (click)="EditTask()">Save</button>
  </form>
</div>
<div class="taskDiv" *ngIf="editTask == false">
  <h2>Add Task</h2>
  <form >
    <input type="text" name="TaskName" placeholder="Task..." [(ngModel)]="taskToAdd.name">
    <button class="addBtn" (click)="AddTask()">Add</button>
  </form>
</div>
</dialog>

<section class="mainSection">

  <section class="taskLeft">
    <h2>Tasks</h2>
    <hr>
    <ul *ngFor="let task of tasksLeft" id="{{ task.id }}" >
      <li (click)="ChangeTaskStatus(task.id)"> {{ task.name }} 
        <span class="editBtn-li" (click)="GetTaskToEdit(task.id)">Edit</span>
        <span class="close" (click)="DeleteTask(task.id)">X</span> 
      </li>
      <!-- <button (click)="GetTaskToEdit(task.id)">Edit</button>
      <button (click)="DeleteTask(task.id)">X</button> -->
    </ul>
  </section>

  <section class="taskDone">
    <h2>Completed Tasks</h2>
    <hr>
    <ul *ngFor="let task of tasksDone" id="{{ task.id }}" >
      <li class="checked" (click)="ChangeTaskStatus(task.id)"> {{ task.name }}
        <span class="editBtn-li" (click)="GetTaskToEdit(task.id)">Edit</span>
        <span class="close" (click)="DeleteTask(task.id)">X</span> 
      </li>
      
    </ul>
  </section>
  
  <button class="addBtn-mainSection" (click)="editTask = false; OpenDialogModel()">Add Task</button>
</section>
  

<router-outlet></router-outlet>
